table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  // background: #777;
  //background-color: #f3f3f3;
  background-color: #abd7a8;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}


#container {
  //display:block;
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

table{
  margin-top: auto;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: auto;
  background-color: #f8f8ff;
  min-width: 33rem;
}

// #tabela{
//     width: 100%;
//     height: auto;
//     background-color: red;
// }

::ng-deep .mat-snack-bar-container {
margin-top: 80% !important;
}

::ng-deep .mat-paginator{
  //background-color: brown;
  //color: gold;
  font-size: 1rem;
  min-width: 33rem;
}

#header-table{
  //margin: 0 0 0 0;
  min-width: 35rem;
}

@media only screen and (max-width: 599px) and (orientation:portrait) {//and (max-width:599) only screen

#container {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;

 height: 100vw;

 -webkit-transform: rotate(90deg);

 -moz-transform: rotate(90deg);

 -o-transform: rotate(90deg);

 -ms-transform: rotate(90deg);

 transform: rotate(90deg);

}

}

@media only screen and (orientation:landscape){

#container {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  // padding-left: 15%;
  // padding-right: 15%;

-webkit-transform: rotate(0deg);

-moz-transform: rotate(0deg);

-o-transform: rotate(0deg);

-ms-transform: rotate(0deg);

transform: rotate(0deg);

 }
}

