<ngx-loading-x
[show]="clicouPaginacao"
spinnerType = "three-strings"
></ngx-loading-x>

<div id="container" fxFlex="97" fxLayout="column" fxLayoutAlign="center">


<div class="lessons-table mat-elevation-z8">

  <div fxLayout="row" fxLayoutAlign="space-around center">
      <form class="busca" #filtro style="margin-left: 20px; padding-bottom: 0em;" fxFlex="100">
        <mat-form-field style="font-size: 1rem; padding-bottom: 0em; margin-top: 1.3em;" fxFlex="76">
          <input matInput placeholder="Procurar por edições" style="padding-bottom: 0em;">
        </mat-form-field>
        &nbsp;
        <button mat-stroked-button
        color="primary" fxFlex="10"
        style="height: 3.5em; margin: auto;"
        matTooltip="Filtrar Edições"
        aria-label="Filtrar Edições"
        (click)="filtrar()"><mat-icon>signal_wifi_4_bar</mat-icon></button
        >
        <button mat-stroked-button
        color="warn" fxFlex="10"
        style="height: 3.5em; margin: auto;"
        matTooltip="Limpar Filtro Edições"
        aria-label="Limapar Filtro Edições"
         (click)="limparFiltro()"><mat-icon>signal_wifi_off</mat-icon></button>
      </form>
    </div>
  </div>


  <table mat-table [dataSource]="dataSource" class="lessons-table mat-elevation-z8" #tabela
    (change)="pageChanged($event)" id="tabela">

    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef width="13%">Usuario</th>
      <td mat-cell *matCellDef="let artigoEdicao"  style="color: #c4507a;"> {{artigoEdicao.responsavelEmail}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef width="14%">Data da edição</th>
      <td mat-cell *matCellDef="let artigoEdicao"  style="color: #946611"> {{artigoEdicao.edicaoData | date:'dd/MM/yyyy hh:mm:ss a'}} </td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef width="26%">Titulo editado</th>
      <td mat-cell *matCellDef="let artigoEdicao"  style="color: #346d34;">{{artigoEdicao.artigoTitulo}}</td>
    </ng-container>

    <ng-container matColumnDef="conteudo">
      <th mat-header-cell *matHeaderCellDef width="38%">Conteudo editado</th>
      <td mat-cell *matCellDef="let artigoEdicao"  style="color: #1839ca;">{{artigoEdicao.edicaoConteudoResumo}}</td>
    </ng-container>

    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef width="5%">Ação</th>
      <td mat-cell *matCellDef="let row">
        <div class="example-button-row example-flex-container" [hidden]="ocultarBotoes">
          <button mat-stroked-button
          style="background-color: #d81b60; color: white;"
          (click)="acaoVisualizarEdicao(row)"
          matTooltip="Visualizar Edições"
          aria-label="Visualizar Edições"
          >
          <mat-icon *ngIf="!clicouPaginacao">remove_red_eye</mat-icon>
        </button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 15, 20, 30]" showFirstLastButtons
    (page)="pageChanged($event)">
  </mat-paginator>

</div>

<ng-container matColumnDef="acao">
  <th mat-header-cell *matHeaderCellDef width="5%">Ação</th>
  <td mat-cell *matCellDef="let row">
    <div class="example-button-row example-flex-container" >
      <button mat-stroked-button >Visualizar</button>
    </div>
  </td>
</ng-container>

<app-modal-historico></app-modal-historico>
<!-- </mat-card> -->
