// mat-form-field{
//   width: 100%;
// }

// header-ativo{
//   background-color: chartreuse;
// }

.mat-card{
  margin-top: 0%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-left: auto;
  background-color: #f8f8ff;

}