<div id="container" fxFlex="97" fxLayout="column" fxLayoutAlign="center">


  <div class="lessons-table mat-elevation-z8" style='min-width: 33rem'>

    <div fxLayout="row" fxLayoutAlign="center none" id="header-table">
      <h2 class="mat-h2" style="margin-top: 1%;">
        <strong >Gerenciar acessos e perfis</strong>
      </h2>
    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="space-around center">
      <div class="busca" #filtro style="margin-left: 20px; padding-bottom: 0em;" fxFlex="100">
        <div style="font-size: 1rem; padding-bottom: 0em; margin-top: 1.3em;" fxFlex="76">
          <strong style='min-width: 33rem'>Gerenciar accessos e perfis</strong>
        </div>
      </div>
    </div> -->



      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>

        <!-- Name Column -->
        <ng-container matColumnDef="userName" class="bloqueado">
          <th mat-header-cell *matHeaderCellDef >Usuário</th>
          <td mat-cell *matCellDef="let element" > {{element.userName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let element" > {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="claimValue">
          <th mat-header-cell *matHeaderCellDef>Perfil</th>
          <td mat-cell *matCellDef="let element"
          [class]="element.claimValue == 'Administrador' ? 'Administrador' : 'Usuario'"> {{element.claimValue == 'Administrador' ? element.claimValue : 'Usuário'}} </td>
        </ng-container>

        <ng-container matColumnDef="bloqueado">
          <th mat-header-cell *matHeaderCellDef>Acesso</th>
          <td mat-cell *matCellDef="let element" [class]="element.bloqueado ? 'bloqueado' : 'liberado'"> {{element.bloqueado ? 'bloqueado' : 'liberado'}} </td>
        </ng-container>

        <ng-container matColumnDef="acao">
          <th mat-header-cell *matHeaderCellDef width="16%" style="text-align: center;">Ação</th>
          <td mat-cell *matCellDef="let row">

            <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutAlign.xs="space-evenly center">
              <button mat-flat-button style="width: 6.2em; padding: 0 0 0 0; margin: 0 0 0 0;"
              color="primary" (click)="acaoBloqueio(row)">
              {{row.bloqueado ? "Liberar" : "Bloquear"}}
            </button>
              &nbsp;
              <button mat-flat-button style="width: 6.2em; padding: 0 0 0 0; margin: 0 0 0 0;" color="warn" (click)="acaoAlterarPerfil(row)">
                Alterar perfil
              </button>
            </div>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
        class="mat-elevation-z8"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        sticky #paginatorHtml
        >
      </mat-paginator>

    </div>

</div>



