<mat-toolbar color="primary" class="mat-elevation-z1">

  <button mat-icon-button id="menu" (click)="navService.checkNav()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button id="home" (click)="navegarParaHome()">
    <mat-icon >home</mat-icon>
  </button>

  <div class="nav-brand">
    Wiki FCVS
  </div>

  <span class="nav-spacer"></span>


  <h4 *ngIf="perfil == 'Administrador'" class="hidden-sm">Área Administrativa</h4>

  <span class="nav-spacer"></span>

  <button class="hidden-sm" mat-icon-button >
    <mat-icon style="font-size: 2.4em;" [matTooltip]="nomeExibicao">{{iconeUsuario}}</mat-icon>
  </button>

  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon matTooltip="Sair">exit_to_app</mat-icon>
  </button>


</mat-toolbar>
