// @use '@angular/material' as mat;

// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// // The "warn" palette is optional and defaults to red if not specified.
// $my-warn: mat.define-palette(mat.$red-palette);

// $my-theme: mat.define-light-theme((
//  color: (
//    my-primary: $my-primary,
//    my-accent: $my-accent,
//    my-warn: $my-warn,
//  )
// ));

.my-green{
  color: #315508;
}

.nav-brand {
  text-align: center;
  padding-top: 5px;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: white;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}

.user-icon{
  width: 0,5em;
}

// .blue-snackbar {
//   background: #2196F3;
// }

::ng-deep .blue-snackbar
{
  color:white;
  background: #2196F3 !important;
}

